<div class="page-container">
  <app-card [titulo]="'Panel de Administración'">
    
    <div *ngIf="reclamos$ | async as reclamos; else loading">
      <table class="admin-table" *ngIf="reclamos.length > 0; else noReclamos">
        <thead>
          </thead>
        <tbody>
          <tr *ngFor="let reclamo of reclamos">
            <td>{{ reclamo.fecha_creacion | date:'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ reclamo.codigo_seguimiento }}</td>
            <td>{{ reclamo.nombre }}</td>
            <td>{{ reclamo.dni }}</td>
            <td>{{ reclamo.email }}</td>
            <td>
              <span class="status-tag" [ngClass]="reclamo.estado.toLowerCase().replace(' ', '-')">
                {{ reclamo.estado }}
              </span>
            </td>

            <td>
              <button 
                class="btn btn-primary btn-chico" 
                (click)="abrirModal(reclamo)" [disabled]="actualizandoId === reclamo.id">
                
                <span *ngIf="actualizandoId !== reclamo.id">Gestionar</span>
                <span *ngIf="actualizandoId === reclamo.id">
                  <div class="spinner-chico"></div>
                </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <ng-template #noReclamos>
        <div class="no-reclamos-box">
          <p>🎉 ¡Bandeja limpia! No hay reclamos nuevos.</p>
        </div>
      </ng-template>

    </div>

    <ng-template #loading>
      <div class="loading-container">
        <div class="spinner-grande"></div>
        <p>Cargando reclamos desde el servidor...</p>
      </div>
    </ng-template>

  </app-card>
</div>

<app-gestionar-reclamo-modal
  *ngIf="reclamoSeleccionado"
  [reclamo]="reclamoSeleccionado"
  (close)="cerrarModal()"
  (save)="guardarCambiosModal($event)"
></app-gestionar-reclamo-modal>