<div class="login-container">
  
  <div class="login-visual">
    <div class="visual-content">
      <h2>Portal Administrativo</h2>
      <p>Gestión integral de expedientes y trámites.</p>
    </div>
  </div>

  <div class="login-form-wrapper">
    <div class="login-card">
      
      <div class="login-header">
        <h3>Bienvenido</h3>
        <p>Ingresá tus credenciales para acceder.</p>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-moderno">
        
        <div class="form-field icon-field">
          <label for="email">Email Corporativo</label>
          <div class="input-wrapper">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path d="M3 4a2 2 0 00-2 2v1.161l8.441 4.221a1.25 1.25 0 001.118 0L19 7.161V6a2 2 0 00-2-2H3zM19 8.839l-7.77 3.885a2.75 2.75 0 01-2.46 0L1 8.839V14a2 2 0 002 2h14a2 2 0 002-2V8.839z" /></svg>
            </span>
            <input id="email" type="email" formControlName="email" placeholder="admin@estudio.com">
          </div>
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
            Email inválido.
          </div>
        </div>

        <div class="form-field icon-field">
          <label for="password">Contraseña</label>
          <div class="input-wrapper">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" /></svg>
            </span>
            <input id="password" type="password" formControlName="password" placeholder="••••••••">
          </div>
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
            La contraseña es obligatoria.
          </div>
        </div>

        <button type="submit" [disabled]="loginForm.invalid || isLoading" class="btn btn-primary btn-largo">
          <span *ngIf="!isLoading">Ingresar al Panel</span>
          <span *ngIf="isLoading"><div class="spinner"></div></span>
        </button>

      </form>
    </div>
  </div>

</div>